body {
    font-family: Arial, sans-serif;
    background-color: #04364A;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .login-container, .main-content {
    margin-top: 100px;
    background-color: #176B87;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color:white;
    font-weight: 100;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form h2 {
    margin-bottom: 15px;
  }
  
  .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form label span {
    display: inline-block;
    width: 150px; /* Adjust this width based on your layout needs */
    font-weight: bold;
    font-weight: 100;
  }
  
  .input-box {
    width: 100%; /* Full width within the form */
    max-width: 300px; /* Limit width for better appearance */
    padding: 10px;
    border: 1px solid #04364A;;
    border-radius: 10px;
    margin-right: 10px; /* Space between input and button */
    box-sizing: border-box;
  }
  
  .btn {
    background-color:#04364A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .summary {
    background-color: #176B87;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px; 
    margin-top: 20px;
  }
  .summary h2{
    font-size: 20px; 
  }

  .search-update {
    margin-top: 20px;
  }
  .results {
    margin-top: 20px;
  }
  
  .expense-item {
    margin-bottom: 10px;
  }
  
  
  